// ====================================================
// 全局变量 函数 mixin定义
$tipColor:            #b8c4ce;

$titleColor:          #333;
$textColor:           #666;
$secondaryColor:      #9553b5;
$importantColor:      #663399;
$numberColor:         #a7bd06;
$linkColor:           #08a1e1;
$baseSize:            40px; //基准像素

// ====================================================
// 根据项目需求重置部分全局样式
// 
// ====================================================
// 全局函数
@function fitPx($px) {
  @return $px / $baseSize * 1rem;
}

// =====================================================

html, body {
  font: normal 14px "Microsoft Yahei", sans-serif;
  background: #f1effc;
  height: 100%;
}

::-webkit-input-placeholder { 
  color: $tipColor;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: normal;
}

.ui-checkbox {
  width: fitPx(44px);
  height: fitPx(44px);
  position: relative;
  font-size: 0;
  white-space: nowrap;
  background: #fefdfd;
  label {
    width: fitPx(44px);
    height: fitPx(44px);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: fitPx(2px) solid #5cd2ff;
    &:after {
      content: '';
      width: fitPx(22px);
      height: fitPx(11px);
      position: absolute;
      top: fitPx(6px);
      left: fitPx(5px);
      border: fitPx(8px) solid #fefdfd;
      border-top: none;
      border-right: none;
      border-radius: 1px;
      background: transparent;
      opacity: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  input {
    visibility: hidden;
    padding: 0;
    height: auto;
    border: none;
  }
  input:checked {
    & + label {
      background-color: #5cd2ff;
      &:after {
        opacity: 1;
      }
    }
  }
}

.ui-search {
  .search-box {
    height: fitPx(96px);
    line-height: fitPx(96px);
    text-align: center;
    background: #108f10;
    input {
      display: inline-block;
      width: fitPx(508px);
      height: fitPx(63px);
      border: none;
      border-radius: fitPx(31px);
      background: #1f1d1d;
      color: #fff;
      font-size: fitPx(22px);
      text-align: center;
      vertical-align: middle;
      outline: none;
      &::-webkit-input-placeholder {
        color: #fff;
        font-size: fitPx(22px);
      }
    }
  }
}

.clearline {
  font-size: 0;
}

// 滑动模块CSS
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


// 表单验证错误框
.error-popup {
  background: #fff;
  position: absolute;
  z-index: 110;
  line-height: fitPx(54px);
  font-size: fitPx(27px);
  border-radius: fitPx(6px);
  color: #000;
  pointer-events: none;
  opacity: 0;
  filter: drop-shadow(0px 0px 2px black);
  p {
    transform: scale(0.8) translateX(fitPx(-90px));
    width: fitPx(710px);
    text-align: left;
    &:before {
      content: 'i';
      display: inline-block;
      width: fitPx(30px);
      height: fitPx(30px);
      padding-top: fitPx(5px);
      line-height: 100%;
      background: #FFBD31;
      color: #fff;
      vertical-align: middle;
      text-align: center;
      margin: 0 fitPx(17px);
      border-radius: fitPx(2px);
    }
    span {
      vertical-align: middle;
      display: inline-block;
    }
  }
  &:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: #fff;
    transform: translateX(-50%);
    top: 100%;
    margin-top: -1px;
    left: 50%;
  }
}

// loading动画CSS

.ui-loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity ease-in .2s;
  &.shadow {
    background: #f1effc;
  }
  &.fadeout {
    opacity: 0;
    pointer-events: none;
  }
  &.fadein {
    opacity: 1;
    pointer-events: auto;
  }
  .cssload-fond {
    display: table-cell;
    vertical-align: middle;
  }

  .cssload-container-general {
    animation: cssload-animball_two 1.15s infinite;
    width: 20px;
    height: 20px;
  }
  .cssload-internal {
    width: 20px; 
    height: 20px;
    position: absolute;
  }
  .cssload-ballcolor {
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
  .cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4 {
    position: absolute;
    animation: cssload-animball_one 1.15s infinite ease;
  }

  .cssload-ball_1 {
    background-color: rgb(203,32,37);
    top: 0; 
    left: 0;
  }

  .cssload-ball_2 {
    background-color: rgb(248,179,52);
    top: 0; 
    left: 11px;
  }

  .cssload-ball_3 {
    background-color: rgb(23,116,188);
    top: 11px; 
    left: 0;
  }

  .cssload-ball_4 {
    background-color: rgb(40,194,81);
    top: 11px; 
    left: 11px;
  }

  @keyframes cssload-animball_one {
    0%{position: absolute;}
    50%{top: 5px; left: 5px; position: absolute; opacity: 0.5;}
    100%{position: absolute;}
  }

  @keyframes cssload-animball_two {
    0%{transform:rotate(0deg) scale(1);}
    50%{transform:rotate(360deg) scale(1.3);}
    100%{transform:rotate(720deg) scale(1);}
  }
}

.ui-backTop {
  background: url(/assets/images/arrow.png) no-repeat center;
  background-size: 100%;
  width: fitPx(100px);
  height: fitPx(100px);
  position: fixed;
  right: fitPx(40px);
  bottom: fitPx(80px);
  z-index: 100;
  transition: opacity ease-in .2s;
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}