// 首页
.page-home {
	.banner-node {
		height: fitPx(320px);
		.swiper-slide {
			width: 100%;
			height: 100%;
			display: block;
		}
		img {
			width: 100%;
			height: 100%;
			transition: all ease .1s;
		}
	}
	.container {
		padding: fitPx(22px) fitPx(22px) 0;
	}
	.box {
		background: #fff;
		border: 1px solid #ccc;
		border-radius: fitPx(5px);
		margin-bottom: fitPx(21px);
		overflow: hidden;
		.tit {
			height: fitPx(42px);
			line-height: fitPx(42px);
			border-bottom: fitPx(2px) solid #ccc;
			padding: 0 fitPx(12px) 0 fitPx(22px);
			overflow: hidden;
			span {
				color: #333;
				font-size: fitPx(30px);
				display: inline-block;
			}
		}
	}
	.lobby-link {
		@extend .box;
		.content {
			padding: fitPx(5px) 0;
			.row {
				padding: fitPx(5px) 0;
			}
			.img-box {
				margin: 0 fitPx(2px) 0 fitPx(5px);
			}
			.col-6:last-child .img-box {
				margin: 0 fitPx(5px) 0 fitPx(2px);
			}
			.lobby-photo {
				width: 100%;
				height: fitPx(136px);
				display: block;
			}
		}
	}
	.promo-link {
		height: fitPx(189px);
		@extend .box;
		.tit span {
			padding-left: fitPx(217px);
		}
		.content {
			a, img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
}
