// 个人资料
.page-account {
	.container {
		padding: fitPx(29px) fitPx(22px);
		.input-box {
			height: fitPx(82px);
			line-height: fitPx(82px);
			margin-bottom: fitPx(10px);
			position: relative;
			input:disabled {
				background: #ccc;
			}
		}
		.menu {
			position: absolute;
			right: 0;
			top: 0;
			width: fitPx(103px);
			height: 100%;
			z-index: 1;
			text-align: center;
			font-size: fitPx(30px);
			color: #0099ff;
			text-decoration: underline;
		}
	}
}