// 绑定银行卡
.page-addbankcard {
	.container {
		padding: fitPx(20px) fitPx(22px) 0;
	}
	.input-box {
		height: fitPx(84px);
		line-height: fitPx(82px);
		border: 1px solid #e1e1e1;
		margin-bottom: fitPx(10px);
		border-radius: fitPx(4px);
		input, select {
			font-size: fitPx(30px);
			color: $titleColor;
			padding-left: fitPx(20px);
		}
		&.disabled {
			background-color: #ccc;
			label {
				color: #999;
			}
		}
	}
	.address-box {
		.col-6 {
			position: relative;
			height: 100%;
		}
	}
	.code-layer {
		overflow: hidden;
		.input-box {
			width: fitPx(360px);
			float: left;
		}	
		.btn {
			width: fitPx(220px);
			height: fitPx(82px);
			line-height: fitPx(82px);
			border-radius: fitPx(4px);
			text-align: center;
			font-size: fitPx(30px);
			float: right;
			background: $importantColor;
			color: #fff;
			border: none;
		}
	}
	.submit {
		width: 100%;
		height: fitPx(84px);
		background-color: $importantColor;
		color: #fff;
		font-size: fitPx(36px);
		border: none;
		border-radius: fitPx(4px);
		margin-top: fitPx(62px);
	}
	.card-list {
		width: 100%;
		border: 1px solid #ccc;
		color: #666;
		background-color: #f3f3f3;
		margin: fitPx(29px) 0 fitPx(23px);
		td {
			text-align: center;
			border: 1px solid #ccc;
			height: fitPx(31px);
		}
		thead tr:first-child td {
			text-align: left;
			padding-left: fitPx(11px);
		}
		tbody {
			tr:nth-child(odd) {
				background-color: #fdfdfd;
			}
		}
	}
}