// 提款
.page-withdrawals {
	.contianer {
		padding: fitPx(24px) fitPx(23px) 0;
		overflow: hidden;
		.input-box {
			height: fitPx(84px);
			line-height: fitPx(82px);
		}
		.bank-list {
			margin: fitPx(62px) 0 fitPx(28px);
			.input-box {
				margin-bottom: fitPx(9px);
				background: #fefdfd;
				font-size: 0;
				position: relative;
				& > label {
					width: 100%;
					height: 100%;
				}
				img {
					vertical-align: middle;
					width: fitPx(244px);
					margin-right: fitPx(17px);
				}
				span {
					vertical-align: middle;
					font-size: fitPx(24px);
					max-width: fitPx(210px);
					overflow: hidden;
					display: inline-block;
					vertical-align: middle;
					text-overflow: ellipsis;
				}
			}
		}
		.ui-checkbox {
			display: inline-block;
			vertical-align: middle;
			margin-left: fitPx(30px);
		}
		.code-layer {
			overflow: hidden;
			.input-box {
				width: fitPx(360px);
				float: left;
			}	
			.btn {
				width: fitPx(220px);
				height: fitPx(82px);
				line-height: fitPx(82px);
				border-radius: fitPx(4px);
				text-align: center;
				font-size: fitPx(30px);
				float: right;
				background: $importantColor;
				color: #fff;
			}
		}
		.submit {
			display: block;
			width: 100%;
			height: fitPx(84px);
			border: none;
			border-radius: fitPx(4px);
			text-align: center;
			font-size: fitPx(30px);
			float: right;
			background: $importantColor;
			color: #fff;
			margin: fitPx(82px) 0;
		}
	}
}