// 登陆页
.page-login {
	.banner {
		height: fitPx(383px);
		line-height: fitPx(383px);
		text-align: center;
		background: url(/assets/images/login-banner.png) no-repeat center;
		background-size: 100% 100%;
	}
	.login-form {
		padding: fitPx(29px) fitPx(22px);
		.input-box {
			height: fitPx(82px);
			line-height: fitPx(82px);
			margin-bottom: fitPx(50px);
		}
		.code-node {
			overflow: hidden;
			.input-box {
				margin-right: fitPx(13px);
				width: fitPx(300px);
				float: left;
			}
			.code {
				width: fitPx(180px);
				height: fitPx(82px);
				// overflow: hidden;
				background: #fff;
			}
		}
		.btn {
			display: block;
			width: 100%;
			height: fitPx(84px);
			line-height: fitPx(84px);
			border-radius: fitPx(5px);
			text-align: center;
			color: #fff;
			background: $importantColor;
			font-size: fitPx(36px);
			border: none;
			margin-bottom: fitPx(26px);
		}
	}
	.error-popup {
		transform: translateY(#{fitPx(150px)});
		background: transparent;
		filter: none;
		&:after {
			display: none;
		}
		p {
			color: red;
			&:before {
				content: "*";
				background: none;
				color: red;
				width: auto;
			}
		}
	}
}