.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.icon-add {
  width: 2.45rem;
  height: 2.45rem;
  fill: #A1A1A1;
}
.icon.icon-arrow {
  width: 0.35rem;
  height: 0.6rem;
  fill: #fff;
}
.icon.icon-arrow-double {
  width: 0.85rem;
  height: 0.725rem;
  fill: #118F11;
}
.icon.icon-call {
  width: 1.05rem;
  height: 1.025rem;
  fill: #FFF;
}
.icon.icon-email {
  width: 5rem;
  height: 5rem;
  fill: #11cd6e;
}
.icon.icon-home {
  width: 1.125rem;
  height: 1.025rem;
  fill: #434343;
}
.icon.icon-menu {
  width: 1.125rem;
  height: 0.925rem;
  fill: #FFF;
}
