@import "reset";
@import "common";
@import "sprites";
@import "animation";
@import "plugin.swiper";

.app-view {
  min-height: 100%;
  position: relative;
  background: #f1effc;
  padding-bottom: fitPx(85px);
  & > div {
  	min-height: 100%;
  }
}

header {
	width: 100%;
	height: fitPx(80px);
	line-height: fitPx(80px);
	color: #fff;
	text-align: center;
	position: relative;
	font-size: fitPx(36px);
	background: $secondaryColor;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: fitPx(85px);
	nav {
		background: $secondaryColor;
		overflow: hidden;
		height: inherit;
	}
	a {
		width: 20%;
		height: inherit;
		float: left;
		color: #fff;
		font-size: fitPx(20px);
		text-align: center;
		&.active {
			background: $importantColor;
		}
	}
}

.input-box {
	overflow: hidden;
	position: relative;
	input:not([type="submit"]), select {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: fitPx(5px);
		background: #fefdfd;
		padding-left: fitPx(13px);
		border: none;
    line-height: inherit;
  	color: #333;
  	font-size: fitPx(22px);
    &::-webkit-input-placeholder {
    	color: #a9a9a9;
    	font-size: fitPx(22px);
    }
    &.error {
	    border: 1px solid #ff0000;
    }
	}
	label {
		font-size: fitPx(28px);
		color: #646464;
		position: absolute;
		left: 0;
		top: 0;
		line-height: inherit;
		padding-left: fitPx(20px);
		& + input {
			padding-left: fitPx(120px) !important;
		}
	}
	select + .arrow, input[type="date"] + .arrow	{
		position: absolute;
		margin-right: fitPx(17px);
		top: 0;
		right: 0;
		&:after {
			content: "";
			border: 0 solid transparent;
			border-width: fitPx(16px) fitPx(7px) 0 fitPx(7px);
			border-top-color: #000;
			display: inline-block;
			position: relative;
			top: fitPx(6px);
		}
	}
}

.tips-node {
	height: fitPx(40px);
	line-height: fitPx(40px);
	background: $importantColor;
	color: #fff;
	font-size: fitPx(14px);
	a {
		color:  inherit;
	}
}

// 弹窗
@import 'ui.Popup';

// 首页
@import 'Page.Home';

// 登陆
@import 'Page.Login';

// 注册
@import 'Page.Register';

// 优惠活动
@import 'Page.Promo';