@import 'common/header.html'
@import 'common/tips.html'
<div class="progress-node">
	<div class="step-node">
		<div class="circle">1</div>
		绑定银行卡
	</div>
	<div class="step-node active">
		<div class="circle">2</div>
		输入提款金额
	</div>
	<div class="step-node">
		<div class="circle">3</div>
		提交等待审核
	</div>
</div>
<div class="contianer">
	<form data-xjs-mixin="plugin.formValidate">
		<div class="input-box">
			<label for="money">提款金额：</label>
			<input type="number" id="money" name="money" placeholder="请输入提款金额">
		</div>
		<div class="bank-list">
			<% for(var i = 0; i < data.bindcard.length; i++) { %>
			<div class="input-box">
				<label for="bank-<%-i%>">
					<img src="<%-data.bindcard[i].icon%>">
					<span><%-data.bindcard[i].cardnum%></span>
					<div class="ui-checkbox">
						<input type="radio" name="bankId" id="bank-<%-i%>" value="<%-data.bindcard[i].id%>" <% if (!i) { %>checked<% } %>>
						<label for="bank-<%-i%>"></label>
					</div>
				</label>
			</div>
			<% } %>
		</div>
		<div class="input-box">
			<label for="transaction">交易口令：</label>
			<input type="password" id="transaction" name="transaction" placeholder="请输入提款交易口令">
		</div>
		<input type="submit" class="submit" value="提交">
	</form>
</div>
@import 'common/navigator.html'